In [7]:
import numpy as np
import pandas as pd
obj= pd.Series([4,-5,6,7])
print(obj.values)

obj2 =pd.Series([4,7,-5,7], index=['d','b','a','c'])
print(obj2.index)
print(obj2['a'])
obj2['d'] =6
print(obj2[['c','d','b']])
print(obj2[obj2>2])
print(obj2*2)
print(np.exp(obj2))

[ 4 -5  6  7]
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
c    7
d    6
b    7
dtype: int64
d    6
b    7
c    7
dtype: int64
d    12
b    14
a   -10
c    14
dtype: int64
d     403.428793
b    1096.633158
a       0.006738
c    1096.633158
dtype: float64

In [8]:
print('b' in obj2)
print('e' in obj2)
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)
states =['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print(obj4)
print(pd.isnull(obj4))
print(pd.notnull(obj4))
print(obj4.isnull())

True
False
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [9]:
#Both the Series object itself and its index have a name attribute, which integrates with
#other key areas of pandas functionality
obj4.name ='Population'
obj4.index.name ='state'
print(obj4)

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [10]:
#dataframe
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)
print(frame.head())
print(pd.DataFrame(data, columns=['year','state','pop']))

frame2 = pd.DataFrame(data,
                      columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four', 'five', 'six']
                      )
print(frame2)
print(frame2.columns)
print(frame2['state'])
print(frame2.year)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2
       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
Index(['year', 'state', 'pop', 'debt'], dtype='object')
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [11]:
#loc
print(frame2.loc['three'])
#create new colum
frame2['debt']= 16.5
print(frame2)
frame2.debt = np.arange(6.)
print(frame2)

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object
       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5
       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [12]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)
#New columns cannot be created with the frame2.eastern syntax
frame2['eastern'] = frame2.state =='Ohio'
print(frame2)
del frame2['eastern']

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [13]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
print(frame3)
print(frame3.T)
print(pd.DataFrame(pop, index=[2001, 2002, 2003]))

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5
      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [14]:
print(frame3)
print(frame3.columns)
print('Ohio' in  frame3.columns)
print(2003 in frame3.index)
'''
Method           Description
append           Concatenate with additional Index objects, producing a new Index
difference       Compute set difference as an Index
intersection     Compute set intersection
union            Compute set union
isin             Compute boolean array indicating whether each value is contained in the passed collection
delete           Compute new Index with element at index i deleted
drop             Compute new Index by deleting passed values
insert           Compute new Index by inserting element at index i
is_monotonic     Returns True if each element is greater than or equal to the previous element
is_unique        Returns True if the Index has no duplicate values
unique           Compute the array of unique values in the Index
'''

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
Index(['Nevada', 'Ohio'], dtype='object')
True
False

'\nMethod           Description\nappend           Concatenate with additional Index objects, producing a new Index\ndifference       Compute set difference as an Index\nintersection     Compute set intersection\nunion            Compute set union\nisin             Compute boolean array indicating whether each value is contained in the passed collection\ndelete           Compute new Index with element at index i deleted\ndrop             Compute new Index by deleting passed values\ninsert           Compute new Index by inserting element at index i\nis_monotonic     Returns True if each element is greater than or equal to the previous element\nis_unique        Returns True if the Index has no duplicate values\nunique           Compute the array of unique values in the Index\n'

In [15]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)
obj3 = obj3.reindex(range(6), method='ffill')
print(obj3)
obj4 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj4= obj4.reindex(range(6),method='bfill')
print(obj4)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64
0      blue
2    purple
4    yellow
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [16]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
print(df)
print(df.fillna(0))
print(df.fillna(method='ffill'))
values = {"A": 0, "B": 1, "C": 2, "D": 3}
print(df.fillna(value=values))

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4
     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4
     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [17]:
#indexing, selection and filterin
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(obj)
print(obj['b'])
print(obj[1])
print(obj[2:4])
print(obj[['b','a','c']])
print(obj[[1,3]])
print(obj[obj < 2])
print(obj['b':'c'])
obj['b':'c']=5
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
1.0
1.0
c    2.0
d    3.0
dtype: float64
b    1.0
a    0.0
c    2.0
dtype: float64
b    1.0
d    3.0
dtype: float64
a    0.0
b    1.0
dtype: float64
b    1.0
c    2.0
dtype: float64
a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [18]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
        index=['Ohio', 'Colorado', 'Utah', 'New York'],
        columns=['one', 'two', 'three', 'four'])
print(data)
print(data['two'])
print(data[['one','three']])
#slicing por row
'''
The row selection syntax data[:2] is provided as a convenience. Passing a single eleâ€
ment or a list to the [] operator selects columns.
'''
print(data[:2])
print(data[data['three'] > 5])
print(data[data < 5])
data[data<5] =0
print(data)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32
          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Ohio      0.0  1.0    2.0   3.0
Colorado  4.0  NaN    NaN   NaN
Utah      NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN
          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [19]:
#loc and iloc
print(data.loc['Colorado', ['two', 'three']])
print(data.iloc[2, [3, 0, 1]])
print(data.iloc[2])
print(data.iloc[[1,2],[3,0,1]])
print(data.loc[:'Utah', 'two'])
print(data.iloc[:, :3][data.three > 5])
'''
Type                Notes
df[val]             Select single column or sequence of columns from the DataFrame; special case
                    conveniences: boolean array (filter rows), slice (slice rows), or boolean DataFrame
                    (set values based on some criterion)
df.loc[val]         Selects single row or subset of rows from the DataFrame by label
df.loc[:, val]      Selects single column or subset of columns by label
df.loc[val1, val2]  Select both rows and columns by label
df.iloc[where]      Selects single row or subset of rows from the DataFrame by integer position
df.iloc[:, where]   Selects single column or subset of columns by integer position
df.iloc[where_i, where_j] Select both rows and columns by integer position
df.at[label_i, label_j]     Select a single scalar value by row and column label
df.iat[i, j]                Select a single scalar value by row and column position (integers)
                            reindex method Select either rows or columns by labels
get_value, set_value        methods Select single value by row and column label
'''

two      5
three    6
Name: Colorado, dtype: int32
four    11
one      8
two      9
Name: Utah, dtype: int32
one       8
two       9
three    10
four     11
Name: Utah, dtype: int32
          four  one  two
Colorado     7    0    5
Utah        11    8    9
Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int32
          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

'\nType                Notes\ndf[val]             Select single column or sequence of columns from the DataFrame; special case\n                    conveniences: boolean array (filter rows), slice (slice rows), or boolean DataFrame\n                    (set values based on some criterion)\ndf.loc[val]         Selects single row or subset of rows from the DataFrame by label\ndf.loc[:, val]      Selects single column or subset of columns by label\ndf.loc[val1, val2]  Select both rows and columns by label\ndf.iloc[where]      Selects single row or subset of rows from the DataFrame by integer position\ndf.iloc[:, where]   Selects single column or subset of columns by integer position\ndf.iloc[where_i, where_j] Select both rows and columns by integer position\ndf.at[label_i, label_j]     Select a single scalar value by row and column label\ndf.iat[i, j]                Select a single scalar value by row and column position (integers)\n                            reindex method Select either rows or columns by labels\nget_value, set_value        methods Select single value by row and column label\n'

In [20]:
#ARITMETIC AND DATA ALIGNMENT
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],index=['a', 'c', 'e', 'f', 'g'])
#solo se sumaran las coincidencias en caso que 1 este faltante se podnra NAN
print(s1 + s2)
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1+df2)

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64
            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [21]:
#FUNCTIONAL APPLICATION AND MAPPING
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)
print(np.abs(frame))
f =lambda x: x.max() - x.min()
print(frame.apply(f))
print(frame.apply(lambda x: x.max() - x.min()))
print(frame.apply(f, axis='columns'))
def funct(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
print(frame.apply(funct))
print(frame.apply(lambda x : pd.Series(
    [x.max(),x.min(), x.mean(), x.sum()],
    index=['max','min','mean','sum'])))
print(frame.apply(
    lambda x: pd.Series([x.cumsum(), x.cumprod()]), axis='columns'))

               b         d         e
Utah    0.462911 -1.905724 -1.540730
Ohio   -0.898401  1.751641 -1.579633
Texas   0.960997 -0.861179  0.020323
Oregon -0.694836  0.968316 -0.341784
               b         d         e
Utah    0.462911  1.905724  1.540730
Ohio    0.898401  1.751641  1.579633
Texas   0.960997  0.861179  0.020323
Oregon  0.694836  0.968316  0.341784
b    1.859398
d    3.657364
e    1.599956
dtype: float64
b    1.859398
d    3.657364
e    1.599956
dtype: float64
Utah      2.368635
Ohio      3.331274
Texas     1.822175
Oregon    1.663152
dtype: float64
            b         d         e
min -0.898401 -1.905724 -1.579633
max  0.960997  1.751641  0.020323
             b         d         e
max   0.960997  1.751641  0.020323
min  -0.898401 -1.905724 -1.579633
mean -0.042332 -0.011736 -0.860456
sum  -0.169329 -0.046945 -3.441824
                                                        0  \
Utah    b    0.462911
d   -1.442812
e   -2.983542
Name...
Ohio    b   -0.898401
d    0.853239
e   -0.726394
Name...
Texas   b    0.960997
d    0.099818
e    0.120142
Name...
Oregon  b   -0.694836
d    0.273481
e   -0.068304
Name...

                                                        1
Utah    b    0.462911
d   -0.882181
e    1.359202
Name...
Ohio    b   -0.898401
d   -1.573676
e    2.485831
Name...
Texas   b    0.960997
d   -0.827590
e   -0.016819
Name...
Oregon  b   -0.694836
d   -0.672821
e    0.229960
Name...

In [26]:
#sorting and ranking
obj =pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(obj)
print(obj.sort_index())
frame = pd.DataFrame(np.arange(8).reshape((2,4))
                      , index=['Three','one']
                      , columns=['d','a','b','c'])
#orden simple
#ordena todos por columna
print(frame.sort_index())
# similar que sin axis
print(frame.sort_index(axis= 0))
#ordena por filas
print(frame.sort_index(axis=1))
print(frame.sort_index(axis=1, ascending=False))

'''
When sorting a DataFrame, you can use the data in one or more columns as the sort
keys. To do so, pass one or more column names to the by option of sort_values:
'''
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print(frame)
#ordena los valors por b
print(frame.sort_values(by ='b'))
#ordea los valores por b y luego por a se nota en los duplicados
#la jerarquias de los duplicado de b se ven afectador por el orden a
print(frame.sort_values(by =['b','a']))
#prioriza el ordanimiento por a y luego por b
print(frame.sort_values(by =['a','b']))

d    0
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    0
dtype: int64
       d  a  b  c
Three  0  1  2  3
one    4  5  6  7
       d  a  b  c
Three  0  1  2  3
one    4  5  6  7
       a  b  c  d
Three  1  2  3  0
one    5  6  7  4
       d  c  b  a
Three  0  3  2  1
one    4  7  6  5
   b  a
0  4  0
1  7  1
2 -3  0
3  2  1
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1
   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [27]:
#SUMMARING AND COMPUTING DESCRIPTIVE STASTICS
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],index=['a', 'b', 'c', 'd'],columns=['one', 'two'])
print(df.sum())
print(df.sum(axis='columns'))
print(df.mean(axis='columns', skipna=False))
print(df.cumsum())
print(df.describe())

one    9.25
two   -5.80
dtype: float64

In [ ]:
#UNIQUE VALUES,VALUE COUNTS AND MEMBERSHIP
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques =obj.unique()
print(uniques)
print(obj.value_counts())
mask = obj.isin(['a','b'])
print(obj[mask])
to_match =pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
'''
Related to isin is the Index.get_indexer method, which gives you an index array
from an array of possibly non-distinct values into another array of distinct values:
'''
unique_vals  = pd.Series(['a','b'])
print(pd.Index(unique_vals).get_indexer(to_match))